<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %></title>

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="<%= process.env.CDN %>assets/media/image/favicon.png"
    />

    <!-- Plugin styles -->
    <link
      rel="stylesheet"
      href="<%= process.env.CDN %>vendors/bundle.css"
      type="text/css"
    />

    <!-- quill -->
    <link
      href="<%= process.env.CDN %>vendors/quill/quill.snow.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Tagsinput -->
    <link
      rel="stylesheet"
      href="<%= process.env.CDN %>vendors/tagsinput/bootstrap-tagsinput.css"
      type="text/css"
    />

    <!-- App styles -->
    <link
      rel="stylesheet"
      href="<%= process.env.CDN %>assets/css/app.min.css"
      type="text/css"
    />
  </head>
  <body
    class="stretch-layout sticky-navigation shadow-layout light-header"
  ></body>
</html>
