<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= error.msg %></title>

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="<%= process.env.CDN %>assets/media/image/favicon.png"
    />

    <!-- Plugin styles -->
    <link
      rel="stylesheet"
      href="<%= process.env.CDN %>vendors/bundle.css"
      type="text/css"
    />

    <!-- App styles -->
    <link
      rel="stylesheet"
      href="<%= process.env.CDN %>assets/css/app.min.css"
      type="text/css"
    />
  </head>
  <body class="error-page bg-white">
    <div>
      <h4 class="mb-0 text-muted font-weight-normal">
        Upps! <%= error.msg %>!
      </h4>
      <div>
        <span class="error-page-item font-weight-bold"><%= error.ero[0] %></span>
        <span class="error-page-item font-weight-bold"><%= error.ero[1] %></span>
        <span class="error-page-item font-weight-bold"><%= error.ero[2] %></span>
      </div>
      <a onclick="goBack()" class="btn btn-outline-light btn-lg">Go Back</a>
    </div>

    <!-- Plugin scripts -->
    <script src="<%= process.env.CDN %>vendors/bundle.js"></script>

    <script>
      function goBack() {
        window.history.back();
      }
    </script>

    <!-- App scripts -->
    <script src="<%= process.env.CDN %>assets/js/app.min.js"></script>
  </body>
</html>
