<!-- ::header:: -->
<%- include('../parsials/tasks/header.ejs') %>
<%-include('../parsials/nav.ejs')%>
<style type="text/css">
    .error-field{
        border-color: #ed4c78;
    }
</style>
<dev id="main">
 <%- include('../parsials/navBar.ejs')%>
    <!-- begin::main-content -->
    <main class="main-content">

        <div class="row app-block">
            <div class="col-md-3 app-sidebar d-none">
                <div class="card">
                    <div class="card-body">
                        <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#newTaskModal">
                            <i data-feather="plus" class="mr-2"></i>
                            New Task
                        </button>
                    </div>
                    <div class="app-sidebar-menu">
                        <div class="list-group list-group-flush">
                            <a href="#" class="list-group-item active d-flex align-items-center">
                                <i data-feather="mail" class="mr-2 width-15 height-15"></i>
                                All
                            </a>
                            <a href="#" class="list-group-item">
                                <i data-feather="send" class="mr-2 width-15 height-15"></i>
                                My Task
                            </a>
                        </div>
                        <div class="card-body">
                            <h6 class="mb-0">Tags</h6>
                        </div>
                        <div class="list-group list-group-flush">
                            <a href="#" class="list-group-item d-flex align-items-center">
                                <span class="text-warning fa fa-circle mr-2"></span>
                                Theme Support
                                <span class="small ml-auto">5</span>
                            </a>
                            <a href="#" class="list-group-item d-flex align-items-center">
                                <span class="text-success fa fa-circle mr-2"></span>
                                Freelance
                            </a>
                            <a href="#" class="list-group-item d-flex align-items-center">
                                <span class="text-danger fa fa-circle mr-2"></span>
                                Social
                            </a>
                            <a href="#" class="list-group-item d-flex align-items-center">
                                <span class="text-info fa fa-circle mr-2"></span>
                                Friends
                            </a>
                            <a href="#" class="list-group-item d-flex align-items-center">
                                <span class="text-secondary fa fa-circle mr-2"></span>
                                Coding
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-11 m-auto app-content">
                <div class="app-content-overlay"></div>
                <div class="app-action">
                    <div class="action-left">
                        <ul class="list-inline">
                            <li class="list-inline-item mb-0">
                                <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#newTaskModal">
                                    <i data-feather="plus" class="mr-2"></i>
                                    New Task
                                </button>
                            </li>
                            <li class="list-inline-item mb-0">
                                <a href="#" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown">
                                    Filter
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Favourites</a>
                                    <a class="dropdown-item" href="#">Done</a>
                                    <a class="dropdown-item" href="#">Deleted</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="action-right">
                        <form class="d-flex mr-3">
                            <a href="#" class="app-sidebar-menu-button btn btn-outline-light">
                                <i data-feather="menu" class="width-15 height-15"></i>
                            </a>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Task search"
                                       aria-describedby="button-addon1">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-light" type="button" id="button-addon1">
                                        <i class="ti-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div class="app-pager d-flex align-items-center">
                            <div class="mr-3">1-50 of 253</div>
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <i data-feather="chevron-left" class="width-15 height-15"></i>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <i data-feather="chevron-right" class="width-15 height-15"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="card card-body app-content-body">
                     <div class="app-lists">
                        <ul class="list-group list-group-flush show-tasks">
                            <% for( task of tasks ) { %>
                            <li class="list-group-item task-list" onclick="taskDetails('<%= task.title %>', '<%= task.status %>', '<%= task.description %>', '<%= task.attachments %>')">
                                <div class="mr-3">
                                    <a href="#" class="app-sortable-handle">
                                        <i data-feather="move" class="width-15 height-15"></i>
                                    </a>
                                </div>
                                <div>
                                    <a href="#" class="add-star mr-3" title="Add stars">
                                        <i class="fa fa-star-o font-size-16"></i>
                                    </a>
                                </div>
                                <div class="flex-grow-1 min-width-0">
                                    <div class="mb-1 d-flex align-items-center justify-content-between">
                                        <div class="app-list-title text-truncate"><%= task.title %></div>
                                        <div class="pl-3 d-flex align-items-center">
                                            <div class="mr-3 d-sm-inline d-none">
                                                <div class="badge badge-danger">End: <%= task.deadLine.toString().split(":00 GMT")[0] %></div>
                                            </div>
                                            <div class="mr-3 d-sm-inline d-none">
                                                <div>
                                                    <span class="btn btn-info">
                                                        <%= task.status %>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                    <!-- end::app-lists -->
                    <div id="task-info" class="card app-detail">
                        
                    </div>
                </div>
            </div>
        </div>
        
    </main>
    <!-- end::main-content -->
</div>
<!-- end::main -->

<!-- new task add modal -->

<div class="modal fade" id="newTaskModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <form autocomplete="off" method="POST" action='/tadmin/tasks/' id="add-task-form" enctype="multipart/form-data">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Task title</label>
                        <div class="col-sm-9">
                            <div id='title-error' class="invalid-feedback d-block"></div>
                            <input type="text" name="title" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row row-sm">
                        <label class="col-sm-3 col-form-label">Deadline</label>
                        <div class="col-sm-5">
                            <div id='expDate-error' class="invalid-feedback d-block"></div>
                            <input type="text" name='expDate' class="form-control create-event-datepicker" placeholder="Date">
                        </div>
                        <div class="col-sm-4">
                            <div id='expTime-error' class="invalid-feedback d-block"></div>
                            <input type="text" name='expTime' class="form-control create-event-demo" placeholder="Time">
                        </div>
                    </div>
                   
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Participate</label>
                        <div class="col-sm-9">
                            <div id='users-error' class="invalid-feedback d-block"></div>
                            <div class="avatar-group addedUser">
                                
                            </div>
                            <button type="button" class="btn btn-outline-light btn-sm btn-floating" title="Add User" data-toggle="dropdown">
                                <i class="ti-plus"></i>
                            </button>
                            <div class="dropdown-menu p-0" style="width: 80% !important">
                                <div class="p-3">
                                    
                                    <h6 class="text-uppercase font-size-11 mb-3">Add User</h6>
                                    
                                        <div class="col-sm-12" >
                                            <select class="js-select2-custom custom-select team-select">
                                                <option  hidden >Select team</option>
                                                <option value="manager">Manager</option>
                                                <option value="srDev">Senior Developer</option>
                                                <option value="jrDev">Junior Developer</option>
                                                <option value="designer">Designer</option>
                                            </select>
                                        </div>
                                    
                                    <ul class="list-group list-group-flush mt-2 users-list">
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Description</label>
                        <div class="col-sm-9">
                            <div id='description-error' class="invalid-feedback d-block"></div>
                            <textarea class="form-control" name="description" rows="8"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Attachments</label>
                        <div class="col-sm-9">
                            <input type='file' name='attachments' class="form-control" rows="6" multiple></input>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3"></label>
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

let userFind = document.querySelector('.team-select');
let userList = document.querySelector('.users-list');
let avatarGroup = document.querySelector('.addedUser');
let showTasks = document.querySelector*('.show-tasks');
let taskAddForm = document.querySelector('#add-task-form');
let taskInfo = document.querySelector('#task-info');

function users(id, name, avatar){
    let html = `
    <li class="list-group-item d-flex align-items-center pl-0 pr-0">
        <div class="mr-2">
            <input type="hidden" value="${id}">
            <figure class="avatar avatar-sm">
                <img src="/uploads/avatars/${avatar}" class="rounded-circle" alt="image">
            </figure>
        </div>
        <div>
            <h6 class="mb-0">${name.firstname} ${name.lastname}</h6>
        </div>
        <div class="dropdown ml-auto">
            <a href="#" onclick="userSelected('${id}','${name}', '${avatar}')" data-toggle="dropdown" class="btn btn-outline-light btn-sm" aria-haspopup="true" aria-expanded="false">+</a>
        </div>
    </li>`
    return html
}
function userSelected(id,name, avatar){
    console.log('working');
    let html = `
     <figure class="avatar avatar-sm" title="${name.firstname} ${name.lastname}" data-toggle="tooltip">
        
        <input type="hidden" name='users' value="${id}">
        <img src="/uploads/avatars/${avatar}" class="rounded-circle" alt="">
    </figure>
    `
    avatarGroup.insertAdjacentHTML("beforeend", html);
}

function taskDetails(title, status, description, files){
    let html = `
    
        <div class="card-header">
            <div class="app-detail-action-left">
                <a class="app-detail-close-button" href="#">
                    <i class="fas fa-arrow-left mr-3"></i>
                </a>
                <h5 class="mb-0">${title}</h5>
            </div>
            <div class="app-detail-action-right">
                <div>
                    <a href="#" class="btn btn-success" data-toggle="tooltip"
                        title="2:44 AM">
                        <i class="fas fa-info-circle mr-2"></i>
                        Check status
                    </a>
                    <span data-toggle="modal" data-target="#editTaskModal">
                        <a href="#" class="btn btn-outline-light ml-2" title="Edit Task"
                            data-toggle="tooltip">
                            <i class="far fa-edit"></i>
                        </a>
                    </span>
                    <a href="#" class="btn btn-outline-danger ml-2" data-toggle="tooltip"
                        title="Delete Task">
                        <i class="far fa-trash-alt"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="app-detail-article">
            <div class="card-body">
                <div class="d-flex align-items-center p-l-r-0 m-b-20">
                    
                   
                </div>
                <p>${description}</p>
            </div>
            <hr class="m-0">
            <div class="card-body">
                <h6 class="mb-3 font-size-11 text-uppercase">Files</h6>
                <ul class="list-unstyled mb-0">
                    
                    <li class="small">
                        <a href="#">
                            <i class="fas fa-paperclip mr-1 width-15 height-15"></i>
                            ${ files }
                        </a>
                    </li>
                </ul>
            </div>
            <hr class="m-0">
            <div class="card-body">
                <h6 class="mb-3 font-size-11 text-uppercase">Comment</h6>
                <div class="col-sm-4 mb-3">
                <form>
                    <div class="d-flex justify-content-between">
                        <textarea name="" id="" class="mb-3" cols="40" rows="7"></textarea>
                    </div>
                    <div class="d-flex justify-content-between">
                        <input type="file">
                        <button class="btn btn-primary">
                            <i class="far fa-paper-plane mr-2"></i>
                            Send
                        </button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    `
    taskInfo.innerHTML = html;
}

userFind.addEventListener('change', () => {
    
    if(userFind.value){
        setTimeout(() => {
            searchUserByTeam(userFind.value)
        }, 500);
    }
})

async function searchUserByTeam(value) {
    userList.innerText = '';
    let respons = await fetch(`/tadmin/tasks/${value}`,
    {
        method: 'POST',
    });
    let result = await respons.json();
    
    if(result.user.length > 0){
        result.user.forEach((u) => {
            userList.insertAdjacentHTML(
                "beforeend",
                users(u._id, u.name, u.avatar)
            );
        })
    }
}

taskAddForm.onsubmit = async (event) => {
  try {
    event.preventDefault();

    document.querySelectorAll('.invalid-feedback').forEach(i => i.innerHTML = '');

    let formData = new FormData(taskAddForm);

    let response = await fetch('/tadmin/tasks/', {
        method: 'POST',
        body: formData,
    })
    let result = await response.json();

    if(result.error){
       Object.keys(result.error).forEach((fieldName) => {
        
        // taskAddForm[fieldName].classList.add('error-field'); // idk why ! if its active, date and user fields error not showing,
        
        const errfields = document.querySelector(`#${fieldName}-error`);
        
        errfields.innerHTML = result.error[fieldName].msg;
        
      });
    } else (
        setTimeout(() =>{
            location.reload()
        }, 500)
    )
  } catch (err) {
      console.log(err);
  }
}
// $("#newTaskModal").on("hidden.bs.modal", function () {
//         taskAddForm.reset();
//       });
</script>
<%- include('../parsials/tasks/footer.ejs') %>