
<!-- Plugin scripts -->
<script src="<%= process.env.CDN %>vendors/bundle.js"></script>

<!-- Tagsinput -->
<script src="<%= process.env.CDN %>vendors/tagsinput/bootstrap-tagsinput.js"></script>
<script src="<%= process.env.CDN %>assets/js/examples/tagsinput.js"></script>

<!-- quill -->
<script src="<%= process.env.CDN %>vendors/quill/quill.js"></script>

<!-- Clockpicker -->
<script src="<%= process.env.CDN %>vendors/clockpicker/bootstrap-clockpicker.min.js"></script>
<script src="<%= process.env.CDN %>assets/js/examples/clockpicker.js"></script>

<!-- Select2 -->
<script src="<%= process.env.CDN %>vendors/select2/js/select2.min.js"></script>
<script src="<%= process.env.CDN %>assets/js/examples/select2.js"></script>

<!-- Datepicker -->
<script src="<%= process.env.CDN %>vendors/datepicker/daterangepicker.js"></script>
<script src="<%= process.env.CDN %>assets/js/examples/datepicker.js"></script>

<!-- <script src="<%= process.env.CDN %>assets/js/all.min.js"></script> -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

<!-- App scripts -->
<script src="<%= process.env.CDN %>assets/js/app.min.js"></script>

<script>
    new Quill('.reply-email-quill-editor', {
        modules: {
            toolbar: ".reply-email-quill-toolbar"
        },
        placeholder: "Type something... ",
        theme: "snow"
    });
    
    // $('select').selectpicker();
    $(function () {
        $(document).on('click', '.app-block .app-content .app-action .action-left input[type="checkbox"]', function () {
            $('.app-lists ul li input[type="checkbox"]').prop('checked', $(this).prop('checked'));
            if ($(this).prop('checked')) {
                $('.app-lists ul li input[type="checkbox"]').closest('li').addClass('active');
            } else {
                $('.app-lists ul li input[type="checkbox"]').closest('li').removeClass('active');
            }
        });

        $(document).on('click', '.app-lists ul li input[type="checkbox"]', function () {
            if ($(this).prop('checked')) {
                $(this).closest('li').addClass('active');
            } else {
                $(this).closest('li').removeClass('active');
            }
        });

        $(document).on('click', '.app-block .app-content .app-content-body .app-lists ul.list-group li.list-group-item', function (e) {
            if (!$(e.target).is('.custom-control, .custom-control *, a, a *')) {
                $('.app-detail').addClass('show').one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function () {
                    $('.app-block .app-content .app-content-body .app-detail .app-detail-article').niceScroll().resize();
                });
            }
        });

        $(document).on('click', 'a.app-detail-close-button', function () {
            $('.app-detail').removeClass('show');
            return false;
        });

        $(document).on('click', '.app-sidebar-menu-button', function () {
            $('.app-block .app-sidebar, .app-content-overlay').addClass('show');
            // $('.app-block .app-sidebar .app-sidebar-menu').niceScroll().resize();
            return false;
        });

        $(document).on('click', '.app-content-overlay', function () {
            $('.app-block .app-sidebar, .app-content-overlay').removeClass('show');
            return false;
        });

        $('.app-block .app-content .app-content-body .app-lists ul').sortable({
            axis: "y",
            cursor: "move",
            handle: '.app-sortable-handle'
        }).disableSelection();
    });
</script>

</body>
</html>