<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %></title>

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href=""
    />

    <!-- Plugin styles -->
    <link
      rel="stylesheet"
      href="<%= process.env.CDN %>vendors/bundle.css"
      type="text/css"
    />

    <!-- quill -->
    <link
      href="<%= process.env.CDN %>vendors/quill/quill.snow.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Clockpicker -->
    <link
      rel="stylesheet"
      href="<%= process.env.CDN %>vendors/clockpicker/bootstrap-clockpicker.min.css"
      type="text/css"
    />

    <!-- Datepicker -->
    <link
      rel="stylesheet"
      href="<%= process.env.CDN %>vendors/datepicker/daterangepicker.css"
      type="text/css"
    />

    <!-- Select2 -->
    <link
      rel="stylesheet"
      href="<%= process.env.CDN %>vendors/select2/css/select2.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="<%= process.env.CDN %>assets/css/bootstrap-select.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="<%= process.env.CDN %>assets/css/all.min.css"
      type="text/css"
    />

    <!-- App styles -->
    <link
      rel="stylesheet"
      href="<%= process.env.CDN %>assets/css/app.min.css"
      type="text/css"
    />
  </head>
  <body class="stretch-layout sticky-navigation light-header">
</html>
