<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %></title>

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="<%= process.env.CDN %>assets/media/image/favicon.png"
    />

    <!-- Plugin styles -->
    <link
      rel="stylesheet"
      href="<%= process.env.CDN %>vendors/bundle.css"
      type="text/css"
    />

    <!-- Datepicker -->
    <link
      rel="stylesheet"
      href="<%= process.env.CDN %>vendors/datepicker/daterangepicker.css"
    />

    <!-- Slick -->
    <link
      rel="stylesheet"
      href="<%= process.env.CDN %>vendors/slick/slick.css"
    />
    <link
      rel="stylesheet"
      href="<%= process.env.CDN %>vendors/slick/slick-theme.css"
    />

    <!-- Vmap -->
    <link
      rel="stylesheet"
      href="<%= process.env.CDN %>vendors/vmap/jqvmap.min.css"
    />

    <!-- lightbox -->
    <link
      rel="stylesheet"
      href="<%= process.env.CDN %>vendors/lightbox/magnific-popup.css"
      type="text/css"
    />

    <link
      rel="stylesheet"
      href="<%= process.env.CDN %>assets2/vendor/icon-set/style.css"
    />

    <!-- CSS Front Template -->
    <link
      rel="stylesheet"
      href="<%= process.env.CDN %>assets2/css/theme.minc619.css"
    />
    <!-- App styles -->
    <link
      rel="stylesheet"
      href="<%= process.env.CDN %>assets/css/app.min.css"
      type="text/css"
    />
  </head>
  <!-- ::side nav:: -->
